.dart_tool/
.packages
.pub/
build/
*.iml
.idea/
.vscode/
*.lock
*.log
local.properties
android/local.properties
android/app/build/
android/.gradle/
*.iml
*.class
*.jar
*.apk
*.aab
devtools_options.yaml
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
